# Node dependencies
/node_modules
frontend/node_modules
src/utils/solid-topic-471317-f9-348069fc7806.json
#env
/.env
.vscode
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.DS_Store
*.local
*.log
*.tgz
/pids
/logs
